%article
  %span.autor
    Comentarios de 
    = comment.ciudadano.screen_name if comment.ciudadano
  %span.fecha
    = time_ago_in_words comment.created_at
  .comentario
    ="\"#{comment.body}\""
  
  %span.votos
    = render :partial => 'social/votar',:locals =>{:type=>'comment',:votable=>comment}
    
  =link_to "Ver Promesa",ver_promesa_path(comment.commentable),:class=>"ver_promesa"