<html>
<head><title>[promesometro] mail para nuevos usuarios</title>
  <style type="text/css">ol {
      margin: 0;
      padding: 0
  }

  p {
      margin: 0
  }

  .c1 {
      color: #999999;
      font-size: 8pt;
      font-style: italic;
      font-family: Trebuchet MS
  }

  .c7 {
      font-size: 14pt;
      font-style: italic;
      background-color: #ffffff;
      font-weight: bold
  }

  .c6 {
      max-width: 468pt;
      background-color: #ffffff;
      padding: 72pt 72pt 72pt 72pt
  }

  .c8 {
      list-style-type: disc;
      margin: 0;
      padding: 0
  }

  .c4 {
      color: #ff0000;
      background-color: #ffffff
  }

  .c3 {
      color: inherit;
      text-decoration: inherit;
  }

  .c9 {
      padding-left: 0pt;
      margin-left: 36pt
  }

  .c5 {
      margin-right: 8pt;
      text-align: center
  }

  .c0 {
      height: 11pt;
      direction: ltr
  }

  .c2 {
      direction: ltr
  }

  .c10 {
      text-decoration: underline
  }

  .c11 {
      color: #1155cc
  }

  .title {
      padding-top: 24pt;
      line-height: 1.15;
      text-align: left;
      color: #000000;
      font-size: 36pt;
      font-family: Arial;
      font-weight: bold;
      padding-bottom: 6pt
  }

  .subtitle {
      padding-top: 18pt;
      line-height: 1.15;
      text-align: left;
      color: #666666;
      font-style: italic;
      font-size: 24pt;
      font-family: Georgia;
      padding-bottom: 4pt
  }

  body {
      color: #000000;
      font-size: 11pt;
      font-family: Arial
  }

  h1 {
      padding-top: 24pt;
      line-height: 1.15;
      text-align: left;
      color: #000000;
      font-size: 18pt;
      font-family: Arial;
      font-weight: bold;
      padding-bottom: 6pt
  }

  h2 {
      padding-top: 18pt;
      line-height: 1.15;
      text-align: left;
      color: #000000;
      font-size: 14pt;
      font-family: Arial;
      font-weight: bold;
      padding-bottom: 4pt
  }

  h3 {
      padding-top: 14pt;
      line-height: 1.15;
      text-align: left;
      color: #666666;
      font-size: 12pt;
      font-family: Arial;
      font-weight: bold;
      padding-bottom: 4pt
  }

  h4 {
      padding-top: 12pt;
      line-height: 1.15;
      text-align: left;
      color: #666666;
      font-style: italic;
      font-size: 11pt;
      font-family: Arial;
      padding-bottom: 2pt
  }

  h5 {
      padding-top: 11pt;
      line-height: 1.15;
      text-align: left;
      color: #666666;
      font-size: 10pt;
      font-family: Arial;
      font-weight: bold;
      padding-bottom: 2pt
  }

  h6 {
      padding-top: 10pt;
      line-height: 1.15;
      text-align: left;
      color: #666666;
      font-style: italic;
      font-size: 10pt;
      font-family: Arial;
      padding-bottom: 2pt
  }</style>
</head>
<p class="c2"><span>Bienvenido <%= h(@display_name)%>>!</span></p>

<p class="c0"><span></span></p>

<p class="c2"><span>&iexcl;Eres ahora ciudadano miembro de la comunidad de Promes&oacute;metro.pe!</span></p>

<p class="c0"><span class="c4"></span></p>

<p class="c5 c2">
  <span class="c7">&ldquo;El Promes&oacute;metro es un instrumento que facilita la comunicaci&oacute;n entre autoridades y ciudadanos en torno a los compromisos electorales de las campa&ntilde;as pol&iacute;ticas.&rdquo;</span>
</p>

<p class="c0 c5"><span></span></p>

<p class="c5 c2">
  <span>Puedes ver un video introductorio aqu&iacute;</span><span class="c10 c11"><a class="c3" href="http://www.youtube.com/watch?feature=player_embedded&amp;v=D4HtqfkNhNA">aqu&iacute;</a></span><span>)</span>
</p>

<p class="c0"><span></span></p>

<p class="c2">
  <span>Tu cuenta se ha creado a partir de tu usuario de <%= h(@account_type)%> con nombre <%= h(@login)%>%</span>
</p>

<p class="c0"><span></span></p>

<p class="c2">
  <span>Ahora, ingresa a: </span><span class="c10 c11"><a class="c3" href="http://promesometro.pe">http://promesometro.pe</a></span><span>&nbsp;para..</span>
</p>

<p class="c0"><span></span></p>
<ol class="c8" start="1">
  <li class="c2 c9"><span>Conocer las principales promesas de tus gobernantes.</span></li>
</ol>
<p class="c0"><span></span></p>
<ol class="c8" start="2">
  <li class="c9 c2"><span>Fiscalizar el cumplimiento de las promesas de tus autoridades. </span></li>
</ol>
<p class="c0"><span></span></p>
<ol class="c8" start="1">
  <li class="c9 c2"><span>Ser un ciudadan@ informad@, que no se contenta con discursos al aire. </span></li>
</ol>
<p class="c0"><span></span></p>

<p class="c2"><span>Recuerda que es tu derecho exigir explicaciones! Que el gobierno cumpla con lo que promete!</span>
</p>

<p class="c0"><span></span></p>

<p class="c2"><span>&iexcl;Gracias por tu participaci&oacute;n!</span></p>

<p class="c0"><span></span></p>

<p class="c2"><span>El equipo de Promes&oacute;metro.pe</span></p>

<p class="c0"><span></span></p>

<p class="c2"><span class="c1">Notas:</span></p>

<p class="c0"><span class="c1"></span></p>

<p class="c2">
  <span class="c1">Pro&eacute;tica es la instituci&oacute;n de la sociedad civil que administra esta p&aacute;gina web. Nuestra experiencia desde 2002 trabajando con ciudadanos, organizaciones sociales e instituciones p&uacute;blicas nos permite estar en posici&oacute;n de asegurar el manejo imparcial de los contenidos que aqu&iacute;
    se comparten.Ten en cuenta que no se aceptar&aacute;n insultos de ning&uacute;n tipo y que &eacute;sta no es una p&aacute;gina de recepci&oacute;n de denuncias, aunque puedes hacerlo, en cuyo caso se redireccionar&aacute;
    a las entidades competentes.</span></p>

<p class="c0"><span class="c1"></span></p>

<p class="c2">
  <span class="c1">Para ponerte en contacto con nosotros, escr&iacute;benos a </span><span class="c1 c10"><a class="c3" href="mailto:promesometro@proetica.org.pe">promesometro@proetica.org.pe</a></span>
</p>

<p class="c0"><span class="c1"></span></p>

<p class="c2">
  <span class="c1">Si no deseas recibir notificaciones o quieres modificar tu informaci&oacute;n, por favor ingresa
a esta direcci&oacute;n:</span><span class="c1 c10"><a href="http://www.promesometro.pe/users/edit">link</a></span>
</p></body>
</html>