%section.participar
  %span.icon_participar
  %h2.t_prosometro El Promesómetro es un instrumento diseñado para monitorear promesas. ¡No más palabras vacias!
  %h2.t_participar
    %span.gris COMO
    %span.naranja PARTICIPAR
  .descripcion_participar
    Si alguien (tu candidato, tu alcalde, tu jefe, tu pareja) te prometió algo (arreglar las pistas, recoger la basura, aumentarte el sueldo, ir de vacaciones), sube la promesa con sus pruebas (enlaces, fotos, audios, videos, textos) al Promesómetro… ¡y empieza a monitorearla! Compártela con tus amigos en Facebook, y presiona a quien te prometió para que cumpla su promesa.  Con el Promesómetro: ¡No más palabras vacías!
  %h2.t_proetica PROETICA
  .descripcion_participar
    Proética es la institución de la sociedad civil que administra esta página web. Nuestra experiencia desde 2002 trabajando con ciudadanos, organizaciones sociales e instituciones públicas nos permite estar en posición de asegurar el manejo imparcial de los contenidos que aquí se comparten.
