%h2 Busqueda Avanzada
=form_for @search, :url => buscar_promesas_path, :html => {:method => :post} do |f|
  %section.container
    %section
      .input
        =f.text_field :info_funcionario_nombre_like, :placeholder => 'nombre'
      .input
        =f.text_field :info_funcionario_cargo_like, :placeholder => 'cargo'
      .input
        =f.text_field :info_funcionario_entidad_like, :placeholder => 'entidad'

    %section
      .input
        =f.text_field :lo_prometido_contains, :placeholder => 'lo prometido'
      .input
        =f.collection_select :region_id_equals, Region.all, :id, :nombre, {:prompt => '-- Region --'}, :class => 'combobox'
      .input
        =f.text_field :pruebas_descripcion_contains, :placeholder => 'pruebas'

    -#%section
      .input
        %script(type='text/javascript')
          $(document).ready(function(){ |
            $('#tags').tagsInput({ |
                autocomplete_url: '#{autocomplete_tag_name_promesas_path}', |
                width: '80%', |
                defaultText: 'tags a buscar' |
            }); |
          })
      
        .tags
          =f.text_field :tag_list, :id=>'tags'

    %section.button
      = submit_tag 'Buscar', :class => :button

  %small
    Nota: No es necesario llenar todos los campos del filtro