%h2 Busqueda Avanzada
=form_for @search, :url => buscar_promesas_path, :html => {:method => :get} do |f|
  %section.container
    %section
      %h3 sobre el que promete
      .input
        =f.text_field :info_funcionario_nombre_like, :placeholder => 'nombre'
      .input
        =f.text_field :info_funcionario_cargo_like, :placeholder => 'cargo'
      .input
        =f.text_field :info_funcionario_entidad_like, :placeholder => 'entidad'

    %section
      %h3 sobre lo prometido
      .input
        =f.text_field :lo_prometido_contains, :placeholder => 'lo prometido'
      .input
        %script(type='text/javascript')
          jQuery(function($) {$(document).ready(function(){ |
            $('.ui-combobox > input.ui-autocomplete-input'). |
              attr('placeholder','región').css('background-color','#F2F2F2') |
          });})
        =f.collection_select :region_id_equals, Region.all, :id, :nombre, {:prompt => '-- Region --'}, :class => 'combobox'
      .input
        =f.text_field :pruebas_descripcion_contains, :placeholder => 'pruebas'

    -#%section
      %h3 tags
      .input
        = render 'shared/tag_cloud', :tags => Promesa.tag_counts_on(:tags)

    %section.button
      = submit_tag 'Buscar', :class => :button

  %small
    Nota: No es necesario llenar todos los campos del filtro