%ul
  %li.no-border= link_to 'Denuncia', denunciar_promesas_path
  %li= link_to 'Promesas', buscar_promesas_path
  %li= link_to 'Acerca De', acerca_de_index_path
  %li= link_to 'Contacto', new_contacto_path