%section.c_left
  %span.icon_promesas
  %h2
    %span.gris 
      ULTIMAS
    %span.naranja
      PROMESAS
  - Promesa.publicas.by_newest.order('fecha_declaracion, created_at DESC').limit(4).each do |p|
    = render 'promesas/resumen', :promesa => p

    / %article
    /   .titulo
    /     Hace alrededor de 1 mes Ollanta Humala Tasso. Presidente de Gobierno del Perú prometió: 
    /   .promesa
    /     "LLevar agua al distrito de Salaverry, construir una tuberia que transporte el agua."
    /   =link_to "","#",:class=>"ver_promesa"
    /   =link_to "","#",:class=>"icon_e"

  
%section.c_right
  %span.icon_boca
  %h2
    %span.gris
      EN BOCA
    %span.naranja
      DE TODOS
  - Comment.by_newest.order('created_at DESC').limit(4).each do |c|
    = render :partial => 'comments/new_comment', :locals => { :comment => c, :level => 0, :position => 0 }    

  