server: &server
#  adapter: postgresql
#  encoding: unicode
#  reconnect: false
#  pool: 5
#  host: 127.0.0.1
#  port: 5432
#  username: jparbros
#  password:

  adapter: mysql2  # Rails 3.x uses the mysql2 adapter
  encoding: utf8
  database: promesometro
  pool: 5
  username: root
  password: root
  socket: /opt/lampp/var/mysql/mysql.sock

development:
  <<: *server
  database: promesometro

test: &test
  <<: *server
  database: promesometro_test

production:
  <<: *server
  database: promesometro