%meta(property="og:site_name" content="http://promesometro.pe")
%meta(property="og:title" content=title)
%meta(property="og:image" content="http://promesometro.pe/images/accelerometer.png")
%meta(property="og:url" content=link)
%meta(property="og:type" content="cause")
%meta(property="og:description" content=desc)