<div style="padding-top:5px;padding-right:0px;padding-bottom:5px;padding-left:0px;">
  <div style="float: left;">
    <div class="fb-like" data-href="<%=metadata_link%>" data-send="true"
         data-layout="button_count" data-width="80" data-show-faces="false"></div>
  </div>
  <div style="float: left;">
    <a href="https://twitter.com/share" class="twitter-share-button"
       data-url="<%= link %>" data-text="<%= title %>"
       data-via="promesometroPE" data-lang="es">Twittear</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</div>
