<div id="social-widgets" class="follow_us" style="float: right; margin-top: 25px;">
  <div>
    <script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>
    <a href="http://twitter.com/promesometroPE" class="twitter-follow-button" data-show-count="true" data-align="right">Follow @promesometro</a>
  </div>

  <div style="margin-left: 100px;">
    <div id="fb-root"></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <div class="fb-like" href="http://promesometro.pe/" send="true" layout="button_count" show_faces="false" font="" id="fb-like"></div>

     <!--g:plusone size="small" href="http://www.promesometro.pe"></g:plusone-->
      <!-- Place this tag after the last plusone tag -->
      <!--script type="text/javascript">
          window.___gcfg = {lang: 'es-419'};

          (function() {
              var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
              po.src = 'https://apis.google.com/js/plusone.js';
              var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
      </script-->
  </div>
</div>