=render 'social/node_widgets',
  :link => link,
  :title => title,
  :desc => desc,
  :width => width

- if ciudadano_signed_in?
  .seguir
    - if current_ciudadano.not.following? promesa
      - text = 'sigue esta promesa!'
      - path = seguir_promesa_path promesa
    - else
      - text = 'deja de seguir esta promesa'
      - path = dejar_de_seguir_promesa_path promesa
    = link_to text, path, :remote => true
  
  .reclamar
    - if current_ciudadano.not.reclamando? promesa
      - text = 'reclama cumplimiento!'
      - path = reclamar_cumplimiento_promesa_path promesa
    - else
      - text = 'deja de reclamar'
      - path = dejar_de_reclamar_cumplimiento_promesa_path promesa
    = link_to text, path, :remote => true
    
- else
  para apoyar o reclamar el cumplimiento de esta promesa
  = render 'social/login'