Votos 
- type ||= @type
- votable ||= @votable
- path = ciudadano_signed_in? ? vote_up_path(type, votable.id) : "javascript:void(0)"
= link_to "#{votable.up_votes.count}", path,:class=>'mas', :disable_with => 'enviando...', :remote => true, "data-type" => :html

- path = ciudadano_signed_in? ? vote_down_path(type, votable.id) : "javascript:void(0)"

= link_to "#{votable.down_votes.count}", path,:class=>'menos', :disable_with => 'enviando...', :remote => true, "data-type" => :html