// Place all the styles related to the Promesa controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import blueprint
@import compass/css3, compass/utilities
@import partials/font

#promesas
  .promesa_titulo
    +column(16)

  .promesa_estado_titulo
    +column(8, true)
    
  #busqueda_avanzada
    +column(24)
    background-color: #ffffff
    margin: 0 0 20px 0
    padding: 10px
    
    #tags_tag
      width: 150px
      
    #tags_tagsinput
      width: 250px !important
    
    h2
      color: #CC6666
      margin-bottom: 0
    
    section
      +column(6)
      border-right: 1px dashed #999999
      margin: 0 10px
      padding: 0 10px
      
      &.container
        +column-base(true)
        border-top: 1px dashed #999999
        border-bottom: 1px dashed #999999
        border-right: 0
        margin: 10px 0
        padding: 10px 0
        width: 930px
      
      &.button
        +column(2,true)
        border: 0
        margin-top: 43px

    .input
      +column(6, true)
      padding: 5px 0

#ver .promesa
  +column(24)
#ver .promesa  
  .discusion
    padding: 20px
    padding-top: 20px
    +column(12)
    float: left
    background: url('/assets/promesa_detail-bg.png') no-repeat
  .break
    +column(1)
  .pruebas
    +column(10)
    float: left

#denuncia .promesa
  background: url('/assets/promesa_denuncia-bg.png') no-repeat
  +column(16)
  padding: 20px

#denuncia .promesa,      
#ver .promesa,
#ver .promesa .discusion
  min-height: 750px
  
#denuncia .promesa
  input
    margin-bottom: 1px
  
  fieldset
    padding: 10px
    border: solid 1px #aaa
    margin-bottom: 10px
    legend
      padding-left: 5px
      padding-right: 5px
      color: #C66
      +subheader-grande
    label
      +column(2)
    label.message
      +column(6)
      float: right
      
  #pruebas
    fieldset.prueba
      legend
        padding-top: 14px
        +subheader-chico
        
      +border-radius(4px, 4px)
      padding: 10px
      background-color: #F3F3F3
      border: 1px solid #666
      margin-bottom: 10px
      input[type=text]
        width: 350px
      button
        margin-top: 4px
        background-color: #D2D5DB
        color: black
      .eliminar
        padding: 0
        margin: 0
        button
          float: right
    
      
  #botones
    text-align: center
    
  input[type=submit]
    float: right
    min-height: 30px
    width: 70px

.resumen
  .promesa
    .promesa_titulo
      +column(16)
      
      h1
        font-size: 30px
      
    .filtro-temas
      +column(4)
      text-transform: capitalize
      
    .promesa_estado_titulo
      +column(8, true)
    
    .promesa_status
      +column(6, true)
      margin-top: -10px
      +prepend(1)
      .progreso
        color: #898989
      .hito
        +column(2)
        margin: 0 0 0 25px
        img
          margin: 11px 0
      .estado_contenedor
        +column(3, true)
        margin-top: 10px
  
    p.descripcion
      +column(12, true)
      +prepend(1)
      +append(1)
      border-bottom: 1px dashed #999999
      height: 55px
      text-align: center
      margin-top: 10px
      margin-bottom: 10px
      padding-bottom: 10px
      
    span.ver_mas a
      color: #cc6666
      float: left
      
    .lo_prometido
      +column(14)
      background: url('/assets/promesa-bg.png')
      height: 164px
      margin: 0 0 10px 0
      padding: 15px 0 0 20px
      
    .arrow
      background: url('/assets/arrow.png')
      display: inline
      float: left
      height: 179px
      width: 50px
      
    .el_resumen
      +column(8, true)
      background: url('/assets/promesa-bg.png')
      height: 164px
      padding: 15px 0 0 20px
      
      label
        +column(4)
      span
        +column(5,true)
        
#ver .promesa
  .ta_comment, .actions
    +column(15,true)
    margin: 10px 0
    
  .pruebas
    background-color: #F3F3F3
    border: 1px dashed #666
    display: inline-block
    float: left
    list-style-type: none
    padding: 10px
    
    legend
      +subheader-grande
    
  .prueba
    border-bottom: 1px dashed #666
    padding: 5px 5px
    
    iframe
      padding-top: 5px
  
  $iframe_width: 380px
  $iframe_height: 285px
  
  .video
    iframe
      max-width: $iframe_width
      max-height: $iframe_height
    
  .mapa
    iframe
      width: $iframe_width !important
      height: $iframe_height !important
  
  .comment.level0
    border-bottom: 1px dashed #666666
    
  .comment.level1
    margin-left: 30px
    width: 560px
    
  .comment
    +column(15, true)
    margin: 10px 0
    
    .comment_content
      +border-radius(5px)
      background: url('/assets/comment_bg.png') repeat
      padding: 15px
      
      span.author
        color: #cc6666
        font-size: 14px
        float: left
        
      p.title
        border-bottom: 1px dashed #666666
        color: #333333
      p.the_comment
        margin: 20px 0
        text-align: center
    
    .thread
      .comment.level1
        .thread
          .comment.level1
            margin-left: 0px
     
    .comment_footer
      padding-bottom: 18px
      margin-bottom: 10px
      
    .comment_footer.par
      background: url('/assets/comment_arrow.png') no-repeat 5% bottom
    .comment_footer.impar
      background: url('/assets/comment_arrow_reply.png') no-repeat 95% bottom