-recurso = prueba.recurso
%span.user 
  -if !prueba.anonima
    subida por
    =@promesa.uploader.screen_name
  =time_ago_in_words recurso.created_at
.imagen
  =link_to(recurso.link, recurso.link) if prueba.link
  -if recurso.file && recurso.type == 'Imagen'
    %a(href="#{recurso.file.url}" target="_blank")
      =image_tag recurso.file.url
  -if recurso.file && recurso.type != 'Imagen'
    %a(href="#{recurso.file.url}" target="_blank") descargar #{File.basename(recurso.file.url)}
  -if recurso.embed
    =raw recurso.embed
.descripcion_prueba 
  =prueba.descripcion
  %span.votos 
    
    = render :partial => 'social/votar',:locals =>{:type=>'prueba',:votable=>prueba}

