%script(type="text/x-mustache" id='prueba_show_#{prueba.posicion}_template')
  %fieldset.prueba
    %legend
      {{#link}}Link{{/link}}
      {{#imagen}}Imagen{{/imagen}}
      {{#archivo}}Archivo{{/archivo}}
      {{#video}}Video{{/video}}
      {{#mapa}}Mapa{{/mapa}}
    .descripcion
      =prueba.descripcion
    
    =if prueba.link
      {{#link}}
      =link_to :body => prueba.link.link, :url => prueba.link.link
      {{/link}}