-recurso = prueba.recurso
.prueba(id='prueba[#{prueba.posicion}]' class='#{recurso.type.downcase}')
  .descripcion
    =prueba.descripcion
    
  .left
    - if ciudadano_signed_in?
      -@type = 'prueba'
      -@votable = prueba
      .votar= render 'shared/votar'
    - else
      para votar por este comentario
      =login
  
  =link_to(recurso.link, recurso.link) if prueba.link
  -if recurso.file
    %a(href="#{recurso.file.url}" target="_blank") descargar archivo
  -if recurso.embed
    =raw recurso.embed