<script type="text/x-mustache" id="prueba_upload_template">
	<fieldset class="prueba">
		<legend>
			{{#link}}Link{{/link}}
			{{#imagen}}Imagen{{/imagen}}
			{{#archivo}}Archivo{{/archivo}}
			{{#video}}Video{{/video}}
			{{#mapa}}Mapa{{/mapa}}
		</legend>
		<label for="promesa_pruebas_attributes_{{count}}_descripcion">Descripcion</label>
		<input type="hidden" value="{{count}}"
			name="promesa[pruebas_attributes][{{count}}][posicion]"
			id="promesa_pruebas_attributes_{{count}}_posicion"></input>
		<input type="text" value="" size="30" required="required"
			name="promesa[pruebas_attributes][{{count}}][descripcion]"
			id="promesa_pruebas_attributes_{{count}}_descripcion">
		{{#link}}
		<div class="field link">
			<label for="promesa_pruebas_attributes_{{count}}_link_attributes_link">Link</label>
			<input type="url" size="30" required="required"
				name="promesa[pruebas_attributes][{{count}}][link_attributes][link]"
				id="promesa_pruebas_attributes_{{count}}_link_attributes_link">
		</div>
		{{/link}}
		{{#archivo}}
		<div class="field archivo">
			<label for="promesa_pruebas_attributes_{{count}}_archivo_attributes}_file">Archivo</label>
			<input type="file" required="required"
				name="promesa[pruebas_attributes][{{count}}][archivo_attributes][file]"
				id="promesa_pruebas_attributes_{{count}}_archivo_attributes_file">
		</div>
		{{/archivo}}
		{{#imagen}}
		<div class="field imagen">
			<label for="promesa_pruebas_attributes_{{count}}_imagen_attributes_file">Imagen</label>
			<input type="file" required="required"
				name="promesa[pruebas_attributes][{{count}}][imagen_attributes][file]"
				id="promesa_pruebas_attributes_{{count}}_imagen_attributes_file">
		</div>
		{{/imagen}}
		{{#video}}
		<div class="field video">
			<label for="promesa_pruebas_attributes_{{count}}_video_attributes_embed">Embed</label>
			<textarea rows="20" cols="40" required="required"
				name="promesa[pruebas_attributes][{{count}}][video_attributes][embed]"
				id="promesa_pruebas_attributes_{{count}}_video_attributes_embed"></textarea>
		</div>
		{{/video}}
		{{#mapa}}
		<div class="field mapa">
			<label for="promesa_pruebas_attributes_{{count}}_mapa_attributes_embed">Embed</label>
			<textarea rows="20" cols="40" required="required"
				name="promesa[pruebas_attributes][{{count}}][mapa_attributes][embed]"
				id="promesa_pruebas_attributes_{{count}}_mapa_attributes_embed"></textarea>
		</div>
		{{/mapa}}
		<div class="eliminar">
			<button type="button"
				onclick="promesa.remove_prueba($(this).parents('fieldset.prueba'))"
				confirm="Estás segur@?">eliminar
					{{#link}}link{{/link}}
					{{#imagen}}imagen{{/imagen}}
					{{#archivo}}archivo{{/archivo}}
					{{#video}}video{{/video}}
					{{#mapa}}mapa{{/mapa}}
			</button>
		</div>
		<div class="clear"></div>
	</fieldset>
</script>