%fieldset(class="prueba")
  %legend
    - prueba = form.object
    -type = prueba.link.type if prueba.link
    -type = prueba.imagen.type if prueba.imagen
    -type = prueba.archivo.type if prueba.archivo
    -type = prueba.video.type if prueba.video
    -type = prueba.mapa.type if prueba.mapa
    =type
  
  =form.hidden_field :posicion
  =form.label :descripcion
  =form.text_field :descripcion
  
  -if type == 'Link'
    =form.fields_for :link do |lf|
      .field.link
        =lf.label :link
        =lf.text_field :link, :required => 'required'

  -elsif type == 'Archivo'
    =form.fields_for :archivo do |af|
      .field.archivo
        =af.label :archivo
        =af.file_field :archivo, :required => 'required'

  -elsif type == 'Imagen'
    =form.fields_for :imagen do |af|
      .field.imagen
        =af.label :imagen
        =af.file_field :archivo, :required => 'required'


  -elsif type == 'Video'
    =form.fields_for :video do |ef|
      .field.video
        =ef.label :video
        =ef.text_area :embed, :required => 'required'

  -elsif type == 'Mapa'
    =form.fields_for :mapa do |ef|
      .field.mapa
        =ef.label :mapa
        =ef.text_area :embed, :required => 'required'
        
  .eliminar
    %button(type="button" onclick="promesa.remove_prueba($(this).parents('fieldset.prueba'))" |
      confirm="Estás segur@?") eliminar #{type.downcase} 

  .clear
