%h1 Inicio
= form_for(@ciudadano, :url => url_for(:action=>"reset_password", :controller=>"ciudadano")) do |f| 
  %div  
    = f.label :email 
    %br
    = f.text_field :email, :autofocus => true 
     

  = f.submit "Enviar",:class=>"button"

