- popover_id = "hito_msg__#{promesa.slug}"
- mensaje = mensaje_dias(promesa)
%script(type='text/javascript')
  $(document).ready(function(){
  = "$('\##{popover_id}').popover({html : true, placement: 'above'});"
  })
.dias_progreso(title=mensaje id=popover_id)
  %span.numero= promesa.days_started
  - if show_label
    %span.progreso Progreso
.dias_progreso
  %span.dias Dias