%article
  .titulo
    =time_ago_in_words(promesa.screen_date)
    #{promesa.el_que_promete}
    
  .promesa
    = "\"#{promesa.lo_prometido}\""
  =link_to "Ver Promesa",ver_promesa_path(promesa),:class=>"ver_promesa"
  =link_to "","#",:class=>"icon_e"
