.seguir
  - if current_ciudadano.not.following? @promesa
    - text = 'sigue esta promesa!'
    - path = seguir_promesa_path @promesa
  - else
    - text = 'deja de seguir esta promesa'
    - path = dejar_de_seguir_promesa_path @promesa
  = link_to text, path, :disable_with => 'enviando...', :remote => true, "data-type" => :html