%section.busqueda_avanzada
  %span.icon_bus_avanzada
  %h2
    %span.gris BUSQUEDA
    %span.naranja AVANZADA
  .linea_busqueda
  %section.formulario_busqueda
    =form_for @search, :url => buscar_promesas_path, :html => {:method => :get} do |f|
      %article
        %h3 Sobre el que promete
        =f.text_field :info_funcionario_nombre_like, :placeholder => 'Nombre',:class=>'text_busqueda'
        =f.text_field :info_funcionario_cargo_like, :placeholder => 'Cargo',:class=>'text_busqueda'
        =f.text_field :info_funcionario_entidad_like, :placeholder => 'Entidad',:class=>'text_busqueda'
      .linea_formulario
      %article
        %h3 Sobre lo prometido
        =f.text_field :lo_prometido_contains, :placeholder => 'lo prometido',:class=>"text_busqueda"
        =f.collection_select :region_id_equals, Region.all, :id, :nombre, {:prompt => '-- Region --'}, :class => 'select'
        =f.text_field :pruebas_descripcion_contains, :placeholder => 'pruebas',:class=>"text_busqueda"
      .linea_formulario
      %article
        %h3 Por apoyo
        = select_tag :select_2,options_for_select([['Mas apoyados'],['Apoyados 1'],['Apoyados 2'],['Apoyados 3'],['Apoyados 4'],['Apoyados 5']]),:class=>"select"
        %h3{ :style=>"margin: 3.5em 0 0em 0em"} Por antiguedad
        = select_tag :select_3, options_for_select([['Mas antiguos'],['antiguos 1'],['antiguos 2'],['antiguos 3'],['antiguos 4'],['antiguos 5']]),:class=>"select"
      .linea_formulario
      %article
        .seguida
          =check_box_tag :chk_seguir
          =label_tag :chk_seguir do 
            Promesa seguidas por Proetica 
            %span.icon_proetica
        =submit_tag "Buscar", :class=>'btn_busqueda'
      %span.nota Nota: No es necesario llenar todos los campos del filtro.#{@promesas.count}
  %section.listado_promesas
    %h2.promesas Promesas
    %h2.estado_promesas Estado de la promesa
    = render :partial => 'promesas/search'
  
:javascript
  $(document).ready(function(){
    $('.select').dropkick();
  });

  jQuery(function($) {
    $('.seguir a[data-type=html], .reclamar a[data-type=html]').parent().on('ajax:success', function(event, data, status, xhr) {
      return $(this).html(data);
    });
    $(document).on('ajax:success', '.comentar form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parents('.comentar').siblings('.comentarios').append($(data));
    });
    $(document).on('ajax:success', '.responder form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parents('.comment:not(.reply)').first().find('.thread:first').append($(data));
    });
    $(document).on('ajax:success', '#pruebas > .add > form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parent('.add').replaceWith(data);
    });
    return $(document).on('ajax:success', '.hazte_cargo form[data-remote=true]', function(event, data, status, xhr) {
      return $(this).parent('.hazte_cargo').remove;
    });
  });