=content_for :stylesheets do
  =stylesheet_link_tag :promesa  
  
=content_for :scripts do
  <script src="http://github.com/janl/mustache.js/raw/master/mustache.js"></script>
  =javascript_include_tag :promesa  
  
= render "shared/flash"

- content_for :title, ":: Promesas"
#promesas

  #filter-container
    = render 'shared/advanced_search'

  .promesa_titulo
    %h1 Promesas

  .promesa_estado_titulo
    %h1 Estado de la Promesa

  - titulo_filtro_promesas({})
      
  
  .resumen
    = render :partial => 'promesas/promesa', :collection => @promesas
  - if @promesas.empty?
    %h3
      No existen coincidencias para su busqueda

  = paginate @promesas