=content_for :scripts do
  =javascript_include_tag :promesa
  
.promesa
  #denuncia
    %h1 Nueva Promesa
    =form_for @promesa, :url => crear_promesas_path do |f|
      = f.error_messages
      
      %fieldset.info_funcionario
        %legend El que promete
        = f.fields_for :info_funcionario do |iff|
          .nombre
            =iff.label :nombre
            =iff.text_field :nombre
          .cargo
            =iff.label :cargo
            =iff.text_field :cargo
          .entidad
            =iff.label :entidad
            =iff.text_field :entidad
      
      %fieldset.lo_prometido
        %legend Lo prometido
        .lo_prometido
          =f.text_area :lo_prometido
      
        .tags
          =f.label :tag_list, 'Tags'
          =f.text_field :tag_list
      
        .fecha_declaracion
          =f.label :fecha_declaracion, 'Cúando?'
          =f.datepicker :fecha_declaracion
          
        .region
          =f.label :region
          =f.collection_select :region, Region.all, :id, :nombre, {:prompt => '-- Selecciona --'}
            
      %fieldset.pruebas
        %legend Pruebas
        = f.fields_for :pruebas do |pf|
          #template
            .prueba
              =pf.label :descripcion
              =pf.text_field :descripcion
              
              =pf.fields_for :recursos do |rf|
                .field.type
                  =rf.radio_button(:type,'Link')
                  Link
                  
                  =rf.radio_button(:type,'Foto')
                  Foto / Imagen
                  
                  =rf.radio_button(:type,'Archivo')
                  Archivo
                  
                  =rf.radio_button(:type,'Video')
                  Video (youtube o vimeo)
                  
                  =rf.radio_button(:type,'Mapa')
                  Mapa (google maps)
                .field.link
                  =rf.label :link
                  =rf.text_field :link
                .field.archivo.hidden
                  =rf.label :file
                  =rf.file_field :file
                .field.foto.hidden
                  =rf.label :file
                  =rf.file_field :file
                .field.video.hidden
                  =rf.label :embed
                  =rf.text_area :embed
                .field.mapa.hidden
                  =rf.label :embed
                  =rf.text_area :embed

      =f.submit
